p{
	text-align: center;
	border-width: thin;
	border-style: dashed;
	
}
div{
	border-top: 30px solid pink;
	border-right:5px solid pink;
    border-bottom: 20px solid pink;
	border-left: 30px solid pink;
	padding: 
    background-color:
	width:
	margin:



}



